/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

*{
    word-break: keep-all;
}

/* Fonts */

@font-face {
    font-family: 'galano_grotesqueregular';
    src: url('galanogrotesqueregular-webfont.woff2') format('woff2'),
         url('galanogrotesqueregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galano_grotesqueitalic';
    src: url('galanogrotesqueitalic-webfont.woff2') format('woff2'),
         url('galanogrotesqueitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galano_grotesquelight';
    src: url('galanogrotesquelight-webfont.woff2') format('woff2'),
         url('galanogrotesquelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galano_grotesquemedium';
    src: url('galanogrotesquemedium-webfont.woff2') format('woff2'),
         url('galanogrotesquemedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "Ortica-Light";
  src: url("Ortica-Light.woff2") format("woff2"),
       url("Ortica-Light.woff") format("woff");
}

@font-face {
  font-family: "Ortica-Bold";
  src: url("Ortica-Bold.woff2") format("woff2"),
       url("Ortica-Bold.woff") format("woff");
}

@font-face {
    font-family: 'pretendardregular';
    src: url('pretendard-regular-webfont.woff2') format('woff2'),
         url('pretendard-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Eulyoo1945-Regular';
    src: url('Eulyoo1945-Regular.woff2') format('woff2'),
         url('Eulyoo1945-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* start */



body {
    background-color: #1d1d1d;
    color: white;
}

.header_name{
    height: 260px;
    margin: 2.31%;
    -bottom: 1.8%;
    font-family: 'galano_grotesqueregular',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:32px;
}

.name{
    font-family: 'galano_grotesquemedium',sans-serif;
    font-style: normal;
    font-weight: normal;
    float: left;
    width: 40%;
    height:100px;
    line-height: 1.5em;
}

.contact{
    float:left;
    font-family: 'galano_grotesquemedium',sans-serif;
    width:50%;
    line-height: 1.5em;
}

.linkset1{
    position: absolute;
    right: 2.31%;
    width: 10%;
    font-family: 'galano_grotesquelight';
}

.linkset1 a{
    font-size: 15px; 
    line-height: 1.3em;
}

.navigator{
    float: left;
    width: 50%;
    font-family: 'galano_grotesqueregular',sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
}

.name a,
.navigator a,
.contact a,
.linkset1 a{
    color:white;
    text-decoration: none;
}


.contact a:hover{
    font-family: 'galano_grotesquemedium',sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #aaffbb;
}

.navigator a:hover{
    font-family: 'galano_grotesquemedium',sans-serif;
    font-style: normal;
    font-weight: normal;
    background-image: linear-gradient(#ffffff 67%, #aaffbb 33%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.linkset1 a:hover {
    color: #ADB5FF;
}




/* -------------- About -------------- */

.about_page{
    display: inline-block;
    padding-left: 2.31%;
    padding-right: 2.31%;
}

.design_concept{
    float: left;
    position: absolute;
    width: 60%;
    height: 100%;
    overflow: scroll;
    padding-left: 0px;
}

.design_concept::-webkit-scrollbar {
    display: none;}





/* -------------- introduce-myself  -------------- */

.about_page{
    display: inline-block;
}

.text{
    float: left;
    position: absolute;
    width: 40%;
    top: 10%;
    padding-right: 6%;
}


.text h3{
    font-family: 'galano_grotesquelight','pretendardregular',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;   
    line-height: 1.2em;
}

.text p{
    margin-top: 9%;
    margin-bottom: 2em;
}


h3 a{
    color: white;
}

h3 a:hover{
    color: #AAFFBB;
}

h3 span a:hover{
    color: #FF40BB;
}

h2{
    font-family: 'galano_grotesqueregular','pretendardregular', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
}

h2 a{
    color: white;
    text-decoration: none;
}




/* -------------- phone device  -------------- */


@media screen and (max-width: 600px) {
    
    .name,
    .contact,
    .text{
        width:100%;
        margin: 0;
        height: auto;
        float: none;
        position: relative;
    }
    
    .linkset1,
    .navigator{
        width:50%; 
        float: left;
        margin:0;
        position: relative;
    }
}
