/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

*{
    word-break: keep-all;
}

/* Fonts */

@font-face {
    font-family: 'galano_grotesqueregular';
    src: url('galanogrotesqueregular-webfont.woff2') format('woff2'),
         url('galanogrotesqueregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'galano_grotesqueitalic';
    src: url('galanogrotesqueitalic-webfont.woff2') format('woff2'),
         url('galanogrotesqueitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galano_grotesquelight';
    src: url('galanogrotesquelight-webfont.woff2') format('woff2'),
         url('galanogrotesquelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'galano_grotesquemedium';
    src: url('galanogrotesquemedium-webfont.woff2') format('woff2'),
         url('galanogrotesquemedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "Ortica-Light";
  src: url("Ortica-Light.woff2") format("woff2"),
       url("Ortica-Light.woff") format("woff");
}

@font-face {
  font-family: "Ortica-Bold";
  src: url("Ortica-Bold.woff2") format("woff2"),
       url("Ortica-Bold.woff") format("woff");
}

@font-face {
    font-family: 'pretendardregular';
    src: url('pretendard-regular-webfont.woff2') format('woff2'),
         url('pretendard-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Eulyoo1945-Regular';
    src: url('Eulyoo1945-Regular.woff2') format('woff2'),
         url('Eulyoo1945-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* start */



body {
    background-color: #1b1b1b;
    color: white;
}

.header_name{
    height:40px;
    margin: 40px;
    margin-bottom: 28px;
    font-family: 'galano_grotesquemedium',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
}

.name h1{
    font-size:32px;
}

.name{
    float: left;
    width: 20%;
}

.name a{
    color:white;
    text-decoration: none;
}

.linkset1{
    float: left;
    width: 20%;
}

.linkset1 h2,
.linkset1 a,
.linkset2 h2,
.linkset2 a{
    font-family: 'galano_grotesquelight';
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
    color: white;
    line-height: 1.5em;
    text-decoration: none;
}

.linkset1 a:hover {
    color: #ADB5FF;
}
.linkset2 a:hover{
    color: #ADB5FF;
}

.contact{
    float: left;
    width:20%;
}

.linkset2{
    float: right;
    width: 20%;
}


.contact a{
    color:white;
    text-decoration: none;
}

.contact a:hover{
    color: #AAFFBB;
}



/* -------------- Portfolio -------------- */

.work_list{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.show{
    float: left;
    position: absolute;
    width: 60%;
    height: 100%;
    overflow: scroll;
    padding-left: 0px;
}

.show::-webkit-scrollbar {
    display: none;}


img{
    max-width: 100%;
}


.show h4{
    font-family: 'galano_grotesquemedium','pretendardregular',sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3em;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 80px;
}

.main_show h4{
    padding-bottom: 40px;
}

.show span{
    font-family: "galano_grotesquelight",'pretendardregular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}



/* -------------- introduce-myself  -------------- */


.intro{
    float: right;
    width: 40%;
    padding-left: 6%;
    padding-top: 60px;
}

.link_set{
    display: block;
}


.intro h3{
    font-family: 'galano_grotesqueregular','pretendardregular',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;   
    line-height: 1.2em;
}


p{
    margin-bottom: 2em;
}


h3 a{
    color: white;
}

h3 a:hover{
    color: #AAFFBB;
}

h3 span a:hover{
    color: #FF40BB;
}

h2{
    font-family: 'galano_grotesqueregular','pretendardregular', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
}

h2 a{
    color: white;
    text-decoration: none;
}


/* -------------- works  -------------- */

.works_title {
    
}




/* -------------- phone device  -------------- */


@media screen and (max-width: 600px) {
    
    .name{width:70%;}
    .contact{
        width: 30%;
    }
    
    .contact{
        float: none;
    }
    
    .contact a{
    font-size: 20px;
}
    
    .header_name{
        height: auto;
    }
    
    .show,
    .intro {
        width: 100%;
        float: none;
    }
    
    h1{
        font-size: 18px;
    }
    
    .linkedin {
        float:right;
    }
    
    .contact {
        margin-top:8px;
        margin-bottom: 40px;
    }
    
    .intro{
        padding-left: 0%;
    }
    

}
